<!-- events/events_list.html-->
{% extends 'events/base.html' %}

{% block content %}

<h1><a >Events</a></h1>
<br>

{% for event in event_list %}
<div class="card text-center">
  <div class="card-header">
    <strong>{{ event }}</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">
    <div>
        <p>{{ event.event_date }}</p>
        <p>{{ event.description }}</p>
    </div>

    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>


{%endfor%}



{% endblock %}